<!DOCTYPE html>
<html lang="en">
<head>
  <title>Who's Out</title>
  <link href="/style.css" rel="stylesheet" media="all">
  <link href="/foundation.min.css" rel="stylesheet" media="all" />
</head>
<body>
  <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Who's Out!</li>
          <li><a href="/home">Home</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Go Out!</a></li>
          <li><a href="#">Go to Group</a></li>
          <li><a href="#">Add to Group</a></li>
          <li><a href="#">Find Friend</a></li>
        </ul>
      </div>
  </div>

  <div class="row">
    <%= yield %>
  </div>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/app.js"></script>

</body>
</html>
